USE [master]
GO
/****** Object:  Database [Assignments]    Script Date: 11/13/2025 10:26:20 AM ******/
CREATE DATABASE [Assignments]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignments', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\Assignments.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assignments_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\Assignments_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignments].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignments]
GO
/****** Object:  Table [dbo].[Clubs]    Script Date: 11/13/2025 10:26:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clubs](
	[ClubID] [int] IDENTITY(1,1) NOT NULL,
	[ClubName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[EstablishedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventFeedback]    Script Date: 11/13/2025 10:26:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventFeedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NULL,
	[UserID] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 11/13/2025 10:26:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[EventDate] [datetime] NOT NULL,
	[Location] [nvarchar](255) NOT NULL,
	[ClubID] [int] NULL,
	[SemesterID] [int] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberActivities]    Script Date: 11/13/2025 10:26:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberActivities](
	[ActivityID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[EventID] [int] NULL,
	[ParticipationLevel] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipRequests]    Script Date: 11/13/2025 10:26:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ClubID] [int] NULL,
	[Reason] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[RequestDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/13/2025 10:26:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ClubID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 11/13/2025 10:26:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[ClubID] [int] NULL,
	[Semester] [nvarchar](100) NOT NULL,
	[MemberChanges] [nvarchar](1000) NULL,
	[EventSummary] [nvarchar](1000) NULL,
	[ParticipationStats] [nvarchar](1000) NULL,
	[SemesterID] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 11/13/2025 10:26:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[SemesterID] [int] IDENTITY(1,1) NOT NULL,
	[SemesterName] [nvarchar](20) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SemesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskAssignments]    Script Date: 11/13/2025 10:26:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskAssignments](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NULL,
	[AssignedUserID] [int] NULL,
	[TaskDescription] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/13/2025 10:26:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[ClubID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EventFeedback] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MembershipRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[MembershipRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EventFeedback]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
GO
ALTER TABLE [dbo].[EventFeedback]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD FOREIGN KEY([SemesterID])
REFERENCES [dbo].[Semesters] ([SemesterID])
GO
ALTER TABLE [dbo].[MemberActivities]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
GO
ALTER TABLE [dbo].[MemberActivities]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[MembershipRequests]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[MembershipRequests]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([SemesterID])
REFERENCES [dbo].[Semesters] ([SemesterID])
GO
ALTER TABLE [dbo].[TaskAssignments]  WITH CHECK ADD FOREIGN KEY([AssignedUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TaskAssignments]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[EventFeedback]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[MemberActivities]  WITH CHECK ADD CHECK  (([ParticipationLevel]='Inactive' OR [ParticipationLevel]='Normal' OR [ParticipationLevel]='Active'))
GO
ALTER TABLE [dbo].[MembershipRequests]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[TaskAssignments]  WITH CHECK ADD CHECK  (([Status]='Completed' OR [Status]='In Progress' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Member' OR [Role]='TeamLeader' OR [Role]='ViceChairman' OR [Role]='Chairman' OR [Role]='Admin'))
GO
USE [master]
GO
INSERT INTO dbo.Users(UserID, FullName, Email, Password, Role, ClubID) VALUES(1, 'Minh A', 'e@example.com', 'password123', 'Admin', 2);
INSERT INTO dbo.Users(UserID, FullName, Email, Password, Role, ClubID) VALUES(2, 'Minh B', 'f@example.com', 'password123', 'Chairman', 2);
INSERT INTO dbo.Users(UserID, FullName, Email, Password, Role, ClubID) VALUES(3, 'Minh C', 'g@example.com', 'password123', 'ViceChairman', 2);

INSERT INTO dbo.Clubs(ClubID, ClubName, Description, EstablishedDate) VALUES(1, 'FPT Debate Club', 'Câu lạc bộ tranh luận', '2018-09-01');
INSERT INTO dbo.Clubs(ClubID, ClubName, Description, EstablishedDate) VALUES(2, 'FPT Cinema Club', 'Câu lạc bộ điện ảnh', '2016-05-20');
INSERT INTO dbo.Clubs(ClubID, ClubName, Description, EstablishedDate) VALUES(3, 'FPT Chinese Club', 'Câu lạc bộ văn hóa Trung Quốc', '2018-09-01');

INSERT INTO dbo.Events(EventID, EventName, Description, EventDate, Location, ClubID, SemesterID, Status) VALUES(1, 'Debate CompetitionV7', 'Cuộc thi tranh luận cấp trường', '2025-05-10 14:00:00', 'Room 201', 1, NULL, 'UPCOMING');
INSERT INTO dbo.Events(EventID, EventName, Description, EventDate, Location, ClubID, SemesterID, Status) VALUES(2, 'Debate CompetitionV2', 'Cuộc thi tranh luận cấp trường', '2025-01-10 14:00:00', 'Room 201', 1, NULL, 'UPCOMING');
INSERT INTO dbo.Events(EventID, EventName, Description, EventDate, Location, ClubID, SemesterID, Status) VALUES(3, 'Debate CompetitionV3', 'Cuộc thi tranh luận cấp trường', '2025-09-10 14:00:00', 'Room 201', 1, NULL, 'Upcoming');

INSERT INTO dbo.MembershipRequests(RequestID, UserID, ClubID, Reason, Status, RequestDate) VALUES(1, 1, 1, 'uia', 'Pending', '2025-07-17 10:09:26');
INSERT INTO dbo.MembershipRequests(RequestID, UserID, ClubID, Reason, Status, RequestDate) VALUES(3, 2, 2, 'hh', 'Approved', '2025-07-17 10:19:23');
INSERT INTO dbo.MembershipRequests(RequestID, UserID, ClubID, Reason, Status, RequestDate) VALUES(4, 46, 2, 'uia', 'Approved', '2025-07-17 10:20:27');

INSERT INTO dbo.Notifications(NotificationID, Title, Message, CreatedDate, ClubID) VALUES(2, 'uiaa', 'hoaabc', '2025-07-21 08:10:55', 1);
INSERT INTO dbo.Notifications(NotificationID, Title, Message, CreatedDate, ClubID) VALUES(3, 'a', 'babcabcabc', '2025-07-21 08:18:42', 2);
INSERT INTO dbo.Notifications(NotificationID, Title, Message, CreatedDate, ClubID) VALUES(4, 'uia', 'dsfasdfsa', '2025-07-21 08:39:31', 3);

INSERT INTO dbo.TaskAssignments(TaskID, EventID, AssignedUserID, TaskDescription, Status) VALUES(1, 1, 6, 'Thư ký', 'Pending');
INSERT INTO dbo.TaskAssignments(TaskID, EventID, AssignedUserID, TaskDescription, Status) VALUES(2, 2, 1, 'Thư ký', 'Completed');
INSERT INTO dbo.TaskAssignments(TaskID, EventID, AssignedUserID, TaskDescription, Status) VALUES(6, 1, 46, 'Thư ký', 'Completed');